.book_box{
	margin-top: 15px;
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.book_style {
	display: block;
	margin: auto;
	max-width: 250px;
	width: 100%;
	justify-content: center;
	& h1{
		display: flex;
		justify-content: center;
	}
	& p{

	}
}
