.formulary {
	background-color: $whiteColor;
}
.row-formulary {
	height: 100%;
}

.formulary {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input, textarea {
	border-radius: 5px;

	@media all and (min-width: 500px){
		width: 350px;
	}
}

.name, .lastname {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: 124px;
	@media all and (min-width: 500px){
		margin-right: 270px;
	}
}

.mail {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: 144px;
	@media all and (min-width: 500px){
		margin-right: 280px;
	}
}
.phone {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: 130px;
	@media all and (min-width: 500px){
		margin-right: 280px;
	}
}
.comment {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: 95px;
	@media all and (min-width: 500px){
		margin-right: 255px;
	}
}

.error{
	color: red;
}
.logofmp {
	min-width: 70px;
}

.logo {
  width: 100%;
	max-width: 70px;

}

.adalab {
  padding-top: 0.5em;
	margin-bottom: 15px;
}


.sendfeedback {
	margin-top: 10px;
	margin-bottom: 100px;
	margin-right: 85px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:5px;
	padding-bottom: 5px;
	background-color: $colorGreen;
	color: $whiteColor;
	width: 100px;
		&:hover {
		background: $whiteColor;
		color: $colorGreen;
		font-size: 20px;
	 	box-shadow: inset 0 0 0 3px $colorGreen;
	}
	@media all and (min-width: 500px){
		margin-right: 255px;
	}

}

.thanks{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $whiteColor;
	color: white;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	transition: all .3s;
	text-align: center;
	padding-top: 100px;
}


.thanks{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $whiteColor;
	color: green;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	transition: all .3s;
	text-align: center;
	padding-top: 100px;
	animation-duration: 5s;
  animation-name: intro;
  animation-iteration-count: 1;
  animation-timing-function: linear;

}
@keyframes intro {
  from {
    transform: scale(10) rotate(-150deg);
    opacity: 0;
    color: white;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.show{
	display: block;
}

.show h2{
	font-size: 34px;
	margin-top: 34px;
}
.thanks.show p {
	font-size: 20px;
	margin-top: 20px;
}

.logo_thanks{
	width: 285px;
	margin-top: 28px;
	@media all and (min-width: 500px){
		width: 425px;
	}
}
