.box_micromach {
	margin: 50px 120px;
	display: flex;
}
.microbox {
	border-radius: 15px;
	margin-left: 15px;
	padding: 20px 20px;
	width: 354px;
	border: none;
	background-color: $colorGreen;
	font-size: 14px;
	h2,	h3 {
		font-size: 20px;
		font-weight: bold;
		text-align: center;

	}

	ul {
		padding-left: 35px;
		list-style: none;
		display: none;
		li{
			padding-left: 20px;
			margin: 1em;
			background: url('../images/l5.png') no-repeat left top;
			background-size: 20px auto;
		}
	}
	
}
.disapear
{
		display: none;
}
.networks {
	margin: 0;
	padding: 2px;
	justify-content: center;
	p {
		display: flex;
		justify-content: center;
		text-align: center;
		color: $backHeaderFooter;
		font-weight: bold;
		margin: 0;
	}
}
.nw_ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	li {
		font-size: 50px;
		padding: 5px;
		@media all and (min-width: 780px){
			font-size: 65px;
		}
	}

}
