
.stories_box {
	margin-top: 25px;
	min-width: 200px;
	margin-left: 0;
	margin-right: 0;
}

.stories_image {

	min-width: 200px;
	margin-left: 0;
	margin-right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stories_style {
	display: block;
	margin: auto;
	max-width:250px;
	width: 100%;
}
