.container-test {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $lightBlue;
	.test_input {
		width: 20px;
	}
}
.btn_result {
	width: 150px;
	height: 150px;
}

.test_title {
	width: 100%;
	background-color: $colorBrown;
	text-align: center;
	padding: 10px;
	margin: 0px;
	margin-top: 35px;
}


.odd {
	width: 80%;
	padding: 10px;
	border-bottom: 2px solid $backHeaderFooter;
	margin-top: 10px;
}
.even {
	width: 80%;
	padding: 10px;
	border-bottom: 2px solid $backHeaderFooter;
	margin-top: 10px;
}

.questions {
	padding-bottom: 10px;
	font-weight: bold;
}
