.content {
	background-color: $backHeaderFooter;
}
.container-fluid {
	width: 100%;
}

.component {
	display:flex;
	justify-content: center;
	align-items: center;
}

.copy {

	color: white;
	padding-top: 0.5em;
}

.form {

	text-decoration: none;
	padding-top: 0.5em;
}

.link {
	color: white;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		color: $colorGreen;
		transition: color ease 1s, border-color ease 1s;
	}

}

.logofmp {

		padding-top: 1.2em;
}

.logo {
	color: white;
}

.adalab {

	padding-top: 0.5em;
}
