.content {
	background-color: $backHeaderFooter;
	z-index: 1;
}
.container-fluid {
	width: 100%;
}

.component {
	display:flex;
	justify-content: center;
	align-items: center;
}

.copy {

	color: white;
	padding-top: 2.5em;
}

.form {

	text-decoration: none;
	padding-top: 2.5em;
}

.link {
	color: white;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		color: $colorGreen;
		font-size: 24px;
		transition: color ease 1s, border-color ease 1s;
	}

}

.logofmp {
	min-width: 70px;
}

.logo {
  padding-top: 1.5em;
	width: 100%;
	max-width: 70px;
}

.adalab {
	min-width: 70px;

}

.logoAdalab {
	width: 100%;
	min-width: 70px;

}
