* {
	margin: 0;
	padding: 0;
}
//HEADER STYLES
.header_style{
	margin: 0;
	background-color: $backHeaderFooter;
	height: 100px;
	position: relative;
}
.logo_box{
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.microlog {
	display: block;
	margin: auto;
	max-width: 250px;
  width: 100%;
	justify-content: center;
		@media all and (min-width: 570px){
			max-width: 300px;
		}
		@media all and (min-width: 1000px){
			max-width: 340px;
		}
}
/*DESPLEGABLE*/
#navigation{
	display: none;
}
.menu {
	list-style: none;
	width: 100px;
	margin-top: 10px;
}
.menu_item {
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 10px;
  background: $backHeaderFooter;
	color: $whiteColor;
	cursor:pointer;
	position: relative;
	top: 19.5px;
		&:hover{
			background: $backPage;
			color: $backHeaderFooter;
		}
}
.submenu{
	display: none;
}
.item{
	display: flex;
	align-items: center;
	padding-left: 10px;
	list-style: none;
	width: 80px;
	height: 40px;
	background: $backPage;
	color: $backHeaderFooter;
	position:relative;
	right:-31px;
	top: 39.5px;
		&:hover{
			background: $backHeaderFooter;
			color: $whiteColor;
		}
}
