* {
	margin: 0;
	padding: 0;
}
.header_link {
	text-decoration: none;
}
//HEADER STYLES
.header_style{
	margin: 0;
	background-color: $backHeaderFooter;
	height: 100px;
	position: relative;
	z-index: 1;
}

.logo_box{
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.microlog {
	display: block;
	margin: auto;
	max-width: 250px;
	width: 100%;
	justify-content: center;
		@media all and (min-width: 570px){
			max-width: 300px;
		}
		@media all and (min-width: 1000px){
			max-width: 340px;
		}
}

/*DESPLEGABLE*/
#navigation{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 1;
	@media all and (min-width: 600px){
		display: block;
		position: static;
	}
}
.menu {
	list-style: none;
	width: 115px;
	position: relative;
	@media all and (min-width: 600px){
		background-color: $backHeaderFooter;
		width: 100%;
		position: static;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
.menu_item {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
  background: $backHeaderFooter;
	color: $whiteColor;
	cursor:pointer;
	position: relative;
	a {
		text-decoration: none;
	}
	&:hover{
		background: $backPage;
		color: $backHeaderFooter;
	}
	@media all and (min-width: 600px){
		width: 115px;
	}
}
.menu_item_submenu{
	.submenu{
		display: block;
	}
}
.submenu{
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	@media all and (min-width: 600px){
		left: 0;
		top: 100%;
		z-index: 1;
		width: 115px;
	}
}
.item{
	display: flex;
	align-items: center;
	padding-left: 10px;
	list-style: none;
	width: 100px;
	height: 40px;
	background: $backPage;
	color: $backHeaderFooter;
	&:hover{
		background: $backHeaderFooter;
		color: $whiteColor;

	}
	@media all and (min-width: 600px){
		width: 115px;
	}
}
.header_link{
	text-decoration: none;
	display: flex;
	align-items: center;
	padding-left: 0;
	width: 100px;
	height: 40px;
	background: $backPage;
	color: $backHeaderFooter;
	&:hover{
		background: $backHeaderFooter;
		color: $whiteColor;
		text-decoration: none;
	}
}
