#xButton {
  position: absolute;
  left: 3%;
  top: 70%;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#xButton span,#xButton span:before,#xButton span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 29px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#xButton span:before {
  top: -10px;
}

#xButton span:after {
  bottom: -10px;
}

#xButton span,#xButton span:before,#xButton span:after {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#xButton.active span {
  background-color: transparent;
}

#xButton.active span:before,#xButton.active span:after {
  top: 0;
}

#xButton.active span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#xButton.active span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,.carousel-fade .carousel-inner .prev,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

html,body,.carousel,.carousel-inner,.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: #74C390;
}

.item:nth-child(2) {
  background: #51BCE8;
}

.item:nth-child(3) {
  background: #E46653;
}

.content {
  background-color: #1E4E5C;
}

.container-fluid {
  width: 100%;
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.5em;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  padding-top: 0.5em;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #3FB180;
  -webkit-transition: color ease 1s, border-color ease 1s;
  transition: color ease 1s, border-color ease 1s;
}

.logofmp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.2em;
}

.logo {
  color: white;
}

.adalab {
  text-align: center;
  padding-top: 0.5em;
}

* {
  margin: 0;
  padding: 0;
}

.header_style {
  margin: 0;
  background-color: #1E4E5C;
  height: 100px;
  position: relative;
}

.logo_box {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.microlog {
  display: block;
  margin: auto;
  max-width: 250px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}/*DESPLEGABLE*/#navigation {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}

.menu {
  list-style: none;
  width: 115px;
  position: relative;
}

.menu_item {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  background: #1E4E5C;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}

.menu_item:hover {
  background: #E2D8A3;
  color: #1E4E5C;
}

.menu_item_submenu .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  list-style: none;
  width: 100px;
  height: 40px;
  background: #E2D8A3;
  color: #1E4E5C;
}

.item:hover {
  background: #1E4E5C;
  color: #ffffff;
}

.formulary {
  background-color: #E2D8A3;
}

.row-formulary {
  height: 100%;
}

.formulary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input,textarea {
  border-radius: 5px;
}

label {
  padding-top: 10px;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.thanks {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #599675;
  color: white;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
  padding-top: 100px;
}

body {
  margin: 0;
}

.relatos {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
}

@media all and (min-width: 570px) {
  .microlog {
    max-width: 300px;
  }
}

@media all and (min-width: 600px) {
  #xButton {
    display: none;
  }

  #navigation {
    display: block;
  }
}

@media all and (min-width: 1000px) {
  .microlog {
    max-width: 340px;
  }
}

/*# sourceMappingURL=style.css.map */
